<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamD.publicParking.search.repository.SearchMybatisDao">

	<resultMap type="teamD.publicParking.search.model.SearchEntity" id="searchEntity">
		<result property="parkingId" column="parking_id" />
		<result property="parkingName" column="parking_name" />
		<result property="parkingAddress" column="parking_address" />
		<result property="parkingPhone" column="parking_phone" />
		<result property="parkingVehicles" column="parking_vehicles" />
		<result property="parkingFree" column="parking_free" />
		<result property="parkingPrice" column="parking_price" />
	</resultMap>

  	<select id="select" resultMap="searchEntity">
		SELECT
		  parking_id
		, parking_name
		, parking_address
		, parking_phone
		, parking_vehicles
		, parking_free
		, parking_price
	FROM
	study.seoul_parking parking_id
	LIMIT 20
  	</select>
  	
	<select id="searchByCondition" resultMap="searchEntity">
		SELECT
		  parking_id
		, parking_name
		, parking_address
		, parking_phone
		FROM
		study.seoul_parking parking_id
		<where>
			<if test="area != null and area != '' ">
			area like CONCAT('%', #{area}, '%')
			</if> 
			<if test="address != null and address != '' ">
			and address like CONCAT('%', #{address}, '%')
			</if>
		</where>
  	</select>
</mapper>